/* ------------------------------------------------------------------------------------------
                    déclaration des polices personnalisées
------------------------------------------------------------------------------------------ */

@font-face {
  font-family: 'seasideresortnfregular';
  src: url('../font/SeasideResort/SEASRN.eot');
  src: url('../font/SeasideResort/SEASRN.eot?#iefix') format('embedded-opentype'), url('../font/SeasideResort/SEASRN.woff2') format('woff2'), url('../font/SeasideResort/SEASRN.woff') format('woff'), url('../font/SeasideResort/SEASRN.ttf') format('truetype'), url('../font/SeasideResort/SEASRN.svg#seasideresortnfregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Bazar;
  src: url('../font/Bazar/Bazar.eot?#iefix') format('embedded-opentype'), url('../font/Bazar/Bazar.woff') format('woff'), url('../font/Bazar/Bazar.ttf') format('truetype'), url('../font/Bazar/Bazar.svg#Bazar') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* ------------------------------------------------------------------------------------------
                           définition des balises générales
------------------------------------------------------------------------------------------ */
em {
  text-decoration: underline;
}

h2 {
  text-shadow: 2px 2px #4a4b4f;
  text-align: center;
  font-size: 4em;
  }

h2, h3, header a {
  font-family: 'Bazar', Arial, sans-serif;
}

h6 {
  text-align: center;
}

hr {
  border-color: #ece8db;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
}

body {
  font-family: Arial, sans-serif;
}

.subtitle {
  text-align: center;
}

.separator {
  height: 25px;
  background: url("../img/separator.svg") no-repeat center;
  margin-bottom: 25px;
}
.separator hr, .whiteSeparator hr, .smallSeparator hr, .whiteSmallSeparator hr {
  display: none;
}

.whiteSeparator {
  height: 25px;
  background: url("../img/whiteSeparator.svg") no-repeat center;
  margin-bottom: 25px;
}

.smallSeparator {
  height: 5px;
  margin-bottom: 15px;
  background: url("../img/smallSeparator.svg") no-repeat center;
}

section {
  padding: 25px 0;
  margin: 0;
}

article {
  padding-top: 15px;
}

/* ------------------------------------------------------------------------------------------
                              déclaration des parties de la page
------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------------------
                        Mise en page du contenu du logo  et du menu
------------------------------------------------------------------------------------------ */

h1, #logo {
  font-family: 'seasideresortnfregular', Arial, sans-serif;
  font-size: 200px;
  color: #e1dccb;
}

#logo {
  display: inline-block;
  margin: auto;
  background: url("../img/Logo.svg") no-repeat center;
  background-color: #71b0b0;
  background-size: contain;
  width: 200px;
  height: 200px;
  line-height: 200px;
  font-size: 150px;
  text-indent: 20px;
}

nav ul {
  list-style-type: none;
}

nav li:nth-child(3) {
  text-align: center;
}

header a {
  color: #e1dccb;
  line-height: 120px;
  font-size: 30px;
}

header a:hover {
  color: #434649;
  text-decoration: none;
}

#slider {
  padding-top: 0px;
}

hr:first-of-type {
  padding-bottom: 10px;
}
/* ------------------------------------------------------------------------------------------
                          Mise en page de l'affichage défilant de photo
------------------------------------------------------------------------------------------ */

#ribbon {
  font-family: 'Bazar', Arial, sans-serif;
  font-size: 20px;
  height: 50px;
  line-height: 50px;
  background: url("../img/ribbon.svg") no-repeat center;
  background-color: #71b0b0;
  color: #434649;
  margin-bottom: 50px;
}

#slider, header {
  background-color: #71b0b0;
  color: white;
  text-align: center;
  border: 1px solid #71b0b0;
}

#slider {
  font-family: 'Bazar', Arial, sans-serif;
  font-size: 20px;
  color: #e1dccb;
}

#slider img {
  padding-bottom: 25px;
}

#slider p:nth-child(5) {
  font-size: 30px;
}

#slider p:nth-child(6) {
  font-size: 20px;
}

/* ------------------------------------------------------------------------------------------
                     Mise en page du contenu du blog et de la partie about me
------------------------------------------------------------------------------------------ */

#about, #blog {
  background-color: #e1dccb;
  border: 1px solid #e1dccb;
}

#about img {
  width: 90px;
  height: 90px;
}

.icons {
  display: block;
  margin: auto;
  margin-bottom: 25px;
  line-height: 120px;
  text-align: center;
  height: 120px;
  width: 120px;
  background-color: #d45244;
  border-radius: 60px;
}

h3, h4 {
  text-align: center;
}

/* ------------------------------------------------------------------------------------------
                             Mise en page du contenu du portfolio
------------------------------------------------------------------------------------------ */

#portfolio {
  background-color: #d57f5e;
}

#portfolio ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#portfolio li {
  float: left;
  margin-left: 25px;
  padding: 0 10px;
  height: 20px;
  line-height: 20px;
  position: relative;
  font-size: 12px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background-color: white;
}
#portfolio li:before {
  content: "";
  float: left;
  position: absolute;
  top: 0;
  left: -10px;
  width: 0;
  height: 0;
  border-color: transparent white transparent transparent;
  border-style: solid;
  border-width: 10px 10px 10px 0
}
#portfolio li:after {
  content: "";
  position: absolute;
  top: 9px;
  left: 0;
  float: left;
  width: 4px;
  height: 4px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: grey;
}
#portfolio li:first-child {
  border: none;
  background-color: #d57f5e;
  font-size: 18px;
}
#portfolio li:first-child:before {
  border: none;
}
#portfolio li:first-child:after {
   border: none;
   background-color: #d57f5e;
 }

.row {
  clear: both;
}
.pictures {
  padding: 20px 5px;
  text-align: center;
}
#portfolio img {
  width: 250px;
  min-width: 250px;
  height: 250px;
  min-height: 250px;
  margin: 15px;
  background-color: white;
  border: 1px solid white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* ------------------------------------------------------------------------------------------
                          Mise en page de la partie blog
------------------------------------------------------------------------------------------ */
.blogPicture {
  display: block;
  float: left;
  width: 200px;
  height: 150px;
  border: 2px solid white;
  background-color: #e1dccb;
  margin-right: 20px;
}

#blog h5, .dateOfPost, .response {
  font-weight: bold;
}

#blog h5 {
  font-size: 1.7em;
}

#blog a {
  color: black;
}

#blog a:hover {
  color: #4a4b4f;
  text-decoration: none;
}

.response {
  float: right;
  margin-bottom: 0;
}

#blog p ~ p {
  margin-left: 220px;
}

#blog .smallSpacer {
  height: 5px;
background: url("../img/smallSeparator.svg") no-repeat left;
  margin-left: 220px;
}

/* ------------------------------------------------------------------------------------------
                        Mise en page de la partie contact
------------------------------------------------------------------------------------------ */

#contact {
  clear:both;
  background-color: #4c5057;
  color: #e1dccb;
  padding-top: 25px;
}

#contact h2 {
  text-shadow: 2px 2px #e1dccb;
}

input, textarea {
  width: 70%;
  margin: 5px 15%;
}

input[type=submit] {
  width: 15%;
}

#contact p {
  text-align: center;
  padding-bottom: 25px;
}

#contact h4 {
  padding-top: 25px;
  font-family: 'Bazar', Arial, sans-serif;
}

.socialIcon {
  display: inline-block;
  margin: auto;
  line-height: 80px;
  text-align: center;
  height: 80px;
  width: 80px;
  background-color: #3b3b3b;
  border: 4px solid white;
  border-radius: 40px;
}

.whiteSmallSeparator {
  height: 5px;
  background: url("../img/whiteSmallSeparator.svg") no-repeat center;
  margin-bottom: 25px;
}

textarea {
  resize: none;
  overflow: auto;
}
